.playlist-title-box {
	padding-left: 0.5rem;
	border-radius: 0.2rem;
}

.playlist-title-box:focus-within,
.playlist-title-box:hover {
	outline-style: solid;
	outline-width: 1px;
}

.playlist-title-box:focus-within {
	outline-color: var(--color-primary);
	background-color: var(--surface-sunken);
}
